@use '../modules/variables' as *;
@use '../modules/mixins' as *;

header {
    .container {
        @include flex-layout(center, center);
        gap: $md-space;
    }

    .container .header-img {
        width: 20%;
    }

    .container .header-img img {
        width: 100%;
        height: 100%;
    }

    .main-title {
        // font-family: 'Playwrite Danmark Loopet', sans-serif;
        font-style: italic;
        font-size: 2em;
    }

    @media screen and (max-width: 976px) {
        .main-title {
            font-size: 1.5em;
            text-align: center;
        }

        .container {
            flex-direction: column-reverse;
            // align-items: start;
        }

        .container .header-img {
            width: 40%;
        }
    }

}